//
// ooout: ../css/style.css, sourcemap: false, compress: true

oss ='../images/';
vs = '';

bgcolor = #fff;
loadingColor = #fff;

vendor(prop, args)
    -webkit-{prop} args
    {prop} args

@import "reset";
@import "weui";
